<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Local Projects Test</title>
</head>
<body>
	<h1>{{ question[0][0] }}</h1>

	<form method="POST">
		<table border="1">
			<tr>
				<td>Token</td>
				<td>Yes Value</td>
				<td>No Value</td>
			</tr>
			{% for item in question[1] %}
				<tr>
					<td>{{ item[1] }}</td>
					<input type="hidden" name="id" value={{ item[0] }}>
					<td><input type="number" name="yes" value={{ item[2] }}></td>
					<td><input type="number" name="no" value={{ item[3] }}></td>
				</tr>
	    	{% endfor %}
		</table>
		<input type="submit" value="Update">
	</form>

	<form method="POST" action="{{ questionId }}/delete">
		   <input type="submit" value="Delete">
	</form>

	<h3><a href="/admin/questions">Back to Questions</a></h3>
</body>
</html>