<!DOCTYPE html>
<html lang="en">
<head>
    <title>Local Projects Test</title>
</head>
<body>
	<h1>Current Tokens</h1>
    <form method="POST" action="tokens/delete">
	    {% for item in tokens %}
	        <input type="checkbox" name="tokenId" value="{{item[0]}}">{{ item[1] }}</input><br>
	    {% endfor %}
	    <input type="submit" value="Delete">
    </form>
    <br>
    <form method="POST">
    	Token:<br>
    	<input type="text" name="token">
    	<input type="submit" value="Create">
    </form>
</body>
</html>